@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');


.logo-wrapper a {
    color: black !important;
    font-family: 'Lemonada', cursive;
    font-size: 1.4rem;
}
.widget-1 .widget-round .bg-round{
    box-shadow:none;
}
.page-wrapper.compact-wrapper .page-body-wrapper .page-body {
    margin-top: 30px;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 37% !important;
}
.dataTables_wrapper button{
    border-radius: 1.25rem;
}

/*.card .card-header {
    background-color: #fff;
    padding: 18px;
    padding-right: 34%;
    border-bottom: 1px solid #ecf3fa;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}*/