@{
    ViewData["Title"] = "Assesment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-fluid">


    @*    <div class="page-title" style="margin-top: -29px !important;">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Assesment</li>

                    </ol>
                </div>
            </div>
        </div>*@
        <div class="card mb-5 w-50 mx-auto d-flex justify-content-center align-items-center border border-secondary rounded-pill">
            <div class="row g-0 text-center">
                <h2 class="mb-0"><img width="80" height="80" src="https://img.icons8.com/external-smashingstocks-detailed-outline-smashing-stocks/80/external-excellent-foreign-language-smashingstocks-detailed-outline-smashing-stocks.png" alt="external-excellent-foreign-language-smashingstocks-detailed-outline-smashing-stocks" /> Grade Levels</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <img width="80" height="80" src="https://img.icons8.com/external-smashingstocks-outline-color-smashing-stocks/80/external-Study-online-education-smashingstocks-outline-color-smashing-stocks.png" alt="external-Study-online-education-smashingstocks-outline-color-smashing-stocks" />
                            <div class="media-body" style="margin-left:10%;">
                                <h3 class="f-w-600"><span class="quizName badge rounded-pill badge-light-success" contenteditable><strong>أولــي ثـانوي</strong></span></h3>
                                <a class="btn btn-primary rounded-pill" asp-controller="Quiz" asp-action="AllQuizes" asp-route-Grade="1"><i class="fas fa-folder-open me-1"></i> Open</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <img width="60" height="60" src="https://img.icons8.com/external-soft-fill-juicy-fish/60/external-study-school-soft-fill-soft-fill-juicy-fish.png" alt="external-study-school-soft-fill-soft-fill-juicy-fish" />                            <div class="media-body" style="margin-left:10%;">
                                <h3 class="f-w-600"><span class="quizName badge rounded-pill badge-light-warning" contenteditable><strong>ثـاني ثـانوي</strong></span></h3>
                                <a class="btn btn-primary rounded-pill" asp-controller="Quiz" asp-action="AllQuizes" asp-route-Grade="2"><i class="fas fa-folder-open me-1"></i> Open</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <img width="80" height="80" src="https://img.icons8.com/plasticine/80/google-classroom.png" alt="google-classroom" />                            <div class="media-body" style="margin-left:10%;">
                                <h3 class="f-w-600"><span class="quizName badge rounded-pill badge-light-secondary" contenteditable><strong>ثـالث ثـانوي</strong></span></h3>
                                <a class="btn btn-primary rounded-pill" asp-controller="Quiz" asp-action="AllQuizes" asp-route-Grade="3"><i class="fas fa-folder-open me-1"></i> Open</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <form class="modal-content" asp-action="CreateQuiz" asp-controller="Quiz">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle"><img width="90" height="90" src="https://img.icons8.com/bubbles/90/classroom.png" alt="classroom" /> Create Session</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row g-2">
                    <div class="col mb-2">
                        <label for="emailBackdrop" class="form-label"><i class="fas fa-sort-numeric-up-alt"></i> <strong>Session Name</strong></label>
                        <input type="text" id="emailBackdrop" name="SessionName" class="form-control rounded-pill" placeholder="Example: Session 1">
                        
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-2">
                        <label for="dobBackdrop" class="form-label"><i class="fas fa-signature"></i> <strong>Quiz Name</strong></label>
                        <input type="text" id="dobBackdrop" name="QuizName" class="form-control rounded-pill" placeholder="Example: Quiz 1">
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary rounded-pill">Save</button>
            </div>
        </form>
    </div>
</div>

@*<div class="modal fade" id="backDropModal2" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <form class="modal-content" asp-action="CreateHomework" asp-controller="HomeWork">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle"><img width="90" height="90" src="https://img.icons8.com/bubbles/90/classroom.png" alt="classroom" /> Create Session</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row g-2">
                    <div class="col mb-2">
                        <label for="emailBackdrop" class="form-label"><i class="fas fa-sort-numeric-up-alt"></i> <strong>Session Name</strong></label>
                        <input type="text" id="emailBackdrop" name="SessionName" class="form-control rounded-pill" placeholder="Example: Session 1">
                        <span asp-validation-for="SessionName" class="text-danger"></span>
                    </div>
                    <div class="col mb-0">
                        <label for="dobBackdrop" class="form-label"><i class="fas fa-signature"></i> Homework Name</label>
                        <input type="text" id="dobBackdrop" name="HomeworkName" class="form-control rounded-pill" placeholder="Example: Physics 1">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary rounded-pill">Save</button>
            </div>
        </form>
    </div>
</div>*@


<script>
    document.addEventListener("keydown", function (event) {
        if (event.ctrlKey && event.key === "s") {
            event.preventDefault(); // Prevent the default browser save action
            window.location.reload(); // Refresh the page
        }
    });
</script>
